name: Lint feature files

on:
  pull_request:
    branches:
      - 'feature/**'
  push:
    branches:
      - 'feature/**'

jobs:
  check:
    name: Check
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v1

      - name: Set up JDK 1.13
        uses: actions/setup-java@v1
        with:
          java-version: 13

      - name: Run Gradle check
        run: |
          ./gradlew check
